<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FOI App Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/fontawesome-free/css/all.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css')}}">
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{{ url_for('static', filename='vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/datepicker/daterangepicker.css')}}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet" media="all">


    <style>
        .loader {
          border: 16px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid #3498db;
          width: 120px;
          height: 120px;
          -webkit-animation: spin 2s linear infinite; /* Safari */
          animation: spin 2s linear infinite;
        }
        
        /* Safari */
        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
        .loader{
            display: none;
        }
        </style>


    <style>
        .alert {
          padding: 20px;
          background-color: #f44336;
          color: white;
          opacity: 1;
          transition: opacity 0.6s;
          margin-bottom: 15px;
        }
        
        .alert.success {background-color: #4CAF50;}
        .alert.info {background-color: #2196F3;}
        .alert.warning {background-color: #ff9800;}
        .alert{
        display: none;
        }
        
        
        
        </style>





</head>

<body>


    <script>
       function display(id) {
        document.getElementById(id).style.display = "block";
    }
    function clearspan(id) {
        document.getElementById(id).style.display = "none";
    }
        </script>




     <!-- Jquery JS-->
     <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
     <!-- Vendor JS-->
     <script src="{{ url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
     <script src="{{ url_for('static', filename='vendor/datepicker/moment.min.js')}}"></script>
     <script src="{{ url_for('static', filename='vendor/datepicker/daterangepicker.js')}}"></script>
 
     <!-- Main JS-->
     <script src="{{ url_for('static', filename='js/global.js')}}"></script>

     <!-- firebase -->

    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>

  
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-database.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/firebase key.js')}}"></script>
    <script src="{{ url_for('static', filename='js/sign up.js')}}"></script> -->
    
    
    <script>
        
        var firebaseConfig = {
        apiKey: "AIzaSyA6ZLUQ9ACBE2ALGpcUco0XGkBetdVRKgU",
        authDomain: "collage-finder-5e58c.firebaseapp.com",
        projectId: "collage-finder-5e58c",
        storageBucket: "collage-finder-5e58c.appspot.com",
        messagingSenderId: "30130002459",
        appId: "1:30130002459:web:ff7669b9b59d2e6b9976be",
        measurementId: "G-Q7J8LDE3BW"
        };


        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();

        function test(){
            // clearspan("nfname");
            // clearspan("nlname");
            clearspan("npass");
            clearspan("spass");
            clearspan("e");
            // var firstname = document.getElementById("fname").value;
            // var lastname = document.getElementById("lname").value;
            var email = document.getElementById("email").value;
           var password = document.getElementById("password");
           var rpassword = document.getElementById("rpassword");

           if(email ==""){
               display("e");
               loaddisof();
           }
           else if(password.value ==""){
               display("npass");
               loaddisof();
           }
           else if(rpassword.value ==""){
               display("spass");
               loaddisof();
           }
           else{
                   if (password.value.length >=7 ){
                if (password.value ==rpassword.value){
                    
                    loaddis();
                    signUp();
                    // dataUploaed();
                    loaddisof();
                    switchVisible();
                    
                }
                else{
                    alert("Confirm password");
                    display("npass");
                    loaddisof();
                    
                }

            }
            else{
                alert("Password too short")
                display("spass");
                loaddisof();
                
            }
           }
            
        
            
            
            
            
            
        }


        function signUp(){
            const auth = firebase.auth()
            
            var email = document.getElementById("email");
            var password = document.getElementById("password");
            

            firebase.auth().createUserWithEmailAndPassword(email.value, password.value).then(function(){
                var id = firebase.auth().currentUser.uid;
                
                window.location.pathname ="/info-selection-info";
                
            })
            // .then((userCredential) => {
            //     // Signed in 
            //     var user = userCredential.user;
            //     alert("account created");
            //     var fname = document.getElementById("fname").value;
            //     var lname = document.getElementById("lname").value;

            //     const auth = firebase.auth();

            //     var id = firebase.auth().currentUser.uid;
            //     firebase.database().ref("/"+id).set({
            //         fname:fname,
            //         lname:lname,
            //     });
                
                // ...
            
            .catch(function(error) {
                
            })
        
        }

        // function dataUploaed() {
        //     let fname = document.getElementById("fname").value;
        //     let lname =document.getElementById("lname").value;

        //     var data ={
        //         firstName:fname,
        //         lastName:lname
        //     }
            
        //     var database = firebase.database();
        //     var ref = database.ref("Users");
        //     ref.push(data);

            
        // }
        
       
        function switchVisible() {
            
            document.getElementById('dis').style.display = 'block';
                      
                 
        }
        function loaddis() {
            document.getElementById("load").style.display = "block";
        }
        function loaddisof() {
            document.getElementById("load").style.display = "none";
        }






    </script>

    <!-- firebase -->










    <header class="foi-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light foi-navbar">
                <a class="navbar-brand" href="/">
                    <img src="{{ url_for('static', filename='assets/images/logo.svg')}}" alt="FOI">
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="features.html">Features</a>
                        </li>
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                            <div class="dropdown-menu" aria-labelledby="pagesMenu">
                                <a class="dropdown-item" href="blog.html">Blog</a>
                                <a class="dropdown-item" href="login.html">Login</a>
                                <a class="dropdown-item" href="register.html">Register <span class="sr-only">(current)</span></a>
                                <a class="dropdown-item" href="faq.html">FAQ</a>
                                <a class="dropdown-item" href="404.html">404</a>
                                <a class="dropdown-item" href="careers.html">Careers</a>
                                <a class="dropdown-item" href="blog-single.html">Single blog</a>
                                <a class="dropdown-item" href="privacy-policy.html">Privacy Policy</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mt-2 mt-lg-0">
                        <li class="nav-item mr-2 mb-3 mb-lg-0">
                            <!-- <a class="btn btn-secondary" href="register.html">Sign up</a> -->
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-secondary" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main class="page-auth">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <section class="auth-wrapper">
                        <div class="row">
                            <div class="col-md-6 mb-4 mb-md-0">
                                <h2 class="auth-section-title">Create account</h2>
                                <p class="auth-section-subtitle">Create your account to continue.</p>
                                <!-- <form method="POST"> -->
                                    <!-- <div class="form-group">
                                        <label for="fname">First Name <sup>*</sup></label>
                                        <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="lname">Last Name <sup>*</sup></label>
                                        <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
                                    </div> -->
                                    <div class="form-group">
                                        <label for="email">Email <sup>*</sup></label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="password">Password <sup>*</sup></label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword">Confirm Password <sup>*</sup></label>
                                        <input type="password" class="form-control" id="rpassword" name="confirmPassword" placeholder="Confirm Password">
                                    </div>
                                    <button class="btn btn-primary btn-auth-submit" onclick="test();">Sign Up</button>
                                <!-- </form> -->
                                <div id="load" class="loader"></div>
                                
                                <div id="dis" class="alert success">
                                
                                    <strong>Done!</strong> Account has been created.
                                </div>
                                <!-- <div id="nfname" class="alert warning">
                                        
                                    <strong>Oops!</strong> You forgot to enter your first name.
                                  </div>
                                  <div id="nlname" class="alert warning">
                                        
                                    <strong>Oops!</strong> You forgot to enter your last name.
                                  </div> -->
                                  <div id="npass" class="alert warning">
                                        
                                    <strong>Oho!</strong> Please confirm your password.
                                  </div>
                                  <div id="spass" class="alert warning">
                                        
                                    <strong>Oho!</strong> Please make sure your password is more than 7 charachters.
                                  </div>
                                  <div id="e" class="alert warning">
                                        
                                    <strong>Oops!</strong> Please enter your mail address.
                                  </div>
                                <p class="mb-0">
                                    <a href="login.html" class="text-dark font-weight-bold">Already have an acocunt? Sign in</a>
                                </p>
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <img src="{{ url_for('static', filename='assets/images/Register.png')}}" alt="login" class="img-fluid">
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>

    <footer class="foi-footer text-white">
        <div class="container">
            <div class="row footer-content">
                <div class="col-xl-6 col-lg-7 col-md-8">
                    <h2 class="mb-0">Do you want to know more or just have a question? write to us.</h2>
                </div>
                <div class="col-md-4 col-lg-5 col-xl-6 py-3 py-md-0 d-md-flex align-items-center justify-content-end">
                    <a href="contact.html" class="btn btn-danger btn-lg">Contact form</a>
                </div>
            </div>
            <div class="row footer-widget-area">
                <div class="col-md-3">
                    <div class="py-3">
                        <img src="{{ url_for('static', filename='assets/images/logo-white.svg')}}" alt="FOI">
                    </div>
                    <p class="font-os font-weight-semibold mb3">Get our mobile app</p>
                    <div>
                        <button class="btn btn-app-download mr-2"><img src="{{ url_for('static', filename='assets/images/ios.svg')}}" alt="App store"></button>
                        <button class="btn btn-app-download"><img src="{{ url_for('static', filename='assets/images/android.svg')}}" alt="play store"></button>
                    </div>
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <nav>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Account</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">My tasks</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Edit profile</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Activity</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <nav>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="#!" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Services</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Careers <span class="badge badge-pill badge-secondary ml-3">Hiring</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Shop with us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <p>
                        &copy; foi. 2020 <a href="https://www.bootstrapdash.com" target="_blank" rel="noopener noreferrer" class="text-reset">BootstrapDash</a>.
                    </p>
                    <p>All rights reserved.</p>
                    <nav class="social-menu">
                        <a href="#!"><img src="{{ url_for('static', filename='/images/facebook.svg')}}" alt="facebook"></a>
                        <a href="#!"><img src="{{ url_for('static', filename='assets/images/instagram.svg')}}" alt="instagram"></a>
                        <a href="#!"><img src="{{ url_for('static', filename='assets/images/twitter.svg')}}" alt="twitter"></a>
                        <a href="#!"><img src="{{ url_for('static', filename='assets/images/youtube.svg')}}" alt="youtube"></a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='assets/vendors/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendors/popper.js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
</body>



</html>